.calin{float:right;width:40% !important}
.cr{text-align:center;color:red;font-size:22px;width:50% !important}
.rwp{background:#fff;padding:20px;border-radius:10px}

.l-subheader-cell.at_right {justify-content: flex-end;box-shadow: 40px 17px 28px -27px black;padding: 0 20px 5px 100px;position: absolute;right: 0}
.l-subheader-h{position:initial}
